<div class="author-box">
<img src="https://avatars.githubusercontent.com/u/28382194?v=4" alt="조태호" class="author-photo">
<div class="author-info">
<p class="author-name">조태호 (Taeho Jo, PhD)</p>
<p class="author-title">인디애나대학교 의과대학 영상의학과 교수</p>
<p class="author-bio"><a href="https://www.yes24.com/product/goods/145612410" target="_blank">모두의 딥러닝</a>, <a href="https://www.yes24.com/product/goods/167573138" target="_blank">혼자공부하는 바이브코딩</a>, 당신의 이유는 무엇입니까 저자.</p>
<p class="author-links">
<a href="https://www.jolab.ai" target="_blank">JoLab.ai</a>
<a href="https://github.com/taehojo" target="_blank">GitHub</a>
<a href="https://www.youtube.com/@taehojo" target="_blank">YouTube</a>
<a href="mailto:taehjo@gmail.com">Email</a>
</p>
</div>
</div>
