---
layout: tasks/compress
---

{%- include rest/defaults.liquid -%}
{%- include common/rest/defaults.liquid -%}

<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ direction }}">
    <head>
        <!-- 메타 정보 포함 -->
        {%- include common/metadata.liquid -%}
        
        <!-- <title> 태그만 포함 -->
        <title>{{ page.title | default: site.title }}</title>
        
        {%- include common/twitter_cards.liquid -%}
        {%- include common/opengraph.liquid -%}
        {%- include common/schema.liquid -%}
        {%- include common/links.liquid -%}
        {%- include rest/styles.liquid -%}
        {%- include common/script.liquid -%}
        {%- include extra/head.html -%}
		
		{% if site.google_analytics and jekyll.environment == 'production' %}
		{% include analytics.html %}
		{% endif %}
    </head>
    <body class="container">
        <!-- 사이드바 포함 -->
        {%- include templates/sidebar.liquid -%}
        
        <!-- 컨텐츠 렌더링 -->
        <main>
          <!-- 여기서 <h1> 태그를 생략하여 중복된 제목 방지 -->
          {%- include templates/content.liquid -%}
        </main>
        
        {%- include templates/addons.liquid -%}
        {%- include extra/body.html -%}
        {%- include rest/script.liquid -%}
        {%- include common/mermaid.liquid-%}
        {%- include common/mathjax.liquid-%}
        {%- include common/google_gtag.liquid-%}
        {%- include common/google_adsense.liquid-%}
    </body>
</html>
